tmp/
src/data/debug/
bin/
.scribble
build.js
merge.sh
test.sh
test.js
.scribble2
.scribble3
.scribble4
.scribble5
.tern-p2
.tern-proj2
a.out
n.js
newmerge.sh
ohno.txt
src/plugins/cstuff/
src/plugins/ternjs/blah/
test1.js
tests.html
x1.scribble
x2.scribble