[Desktop Entry]
Name=Jabbascribble
Comment=A goofy text editor for goofy projects
Encoding=UTF-8
Version=0.0
Type=Application
Terminal=false
Exec=/path/to/bin/jabbascribble
Icon=/path/to/resources/app/data/icon-64.png
