/* todo: this is here because someone is a lazy bum */
.CodeMirror {
	background: #272822 !important;
	/*color: #f8f8f2 !important;*/
	color: #8ddaff !important;
	position: absolute !important;
	width: unset !important;
	/*height: unset !important;*/
	border: unset !important;
	box-shadow: unset !important;

	left: 0px !important;
	right: 0px !important;
	/*top: 15px !important;*/
	/*bottom: 0.8rem !important;*/
	height: 100% !important;
	text-shadow: 1px 1px 1px #000 !important;
	font-size: 1.2em !important;
	/*font-family: "Georgia", serif;*/
	font-family: monospace;
}
.CodeMirror-focused {

}
.CodeMirror-gutters {
	background: #272822 !important;
	border-right: 1px solid #373832 !important;
}
.CodeMirror-linenumbers {
	/*background-color: #0f0 !important;*/
}
.CodeMirror-linenumber {
	/*color: #f00 !important;*/
	text-shadow: none !important;
}
.CodeMirror-lines {
	/*background-color: #fff !important;*/
}
.CodeMirror-cursor {
	/*color: #fff !important;*/
	background-color: rgba(255, 255, 255) !important;
	width: 9px !important;
}
.CodeMirror-cursors {
	z-index: 2 !important;
	background-color: #ff0000;
}
.CodeMirror-selected {
	background-color: #475284 !important;
}
.CodeMirror-matchingbracket {
	background-color: #00f !important;
	color: #f00 !important;
}
.CodeMirror-nonmatchingbracket {
	background-color: #f00 !important;
	color: #00f !important;
}
.CodeMirror-scrollbar-filler {
	background-color: #383933 !important;
}
.cm-comment {
	color: #9d89c5 !important;
}
.cm-atom {
	color: #f390ff;
}
.cm-this {
	color: #fff000;
}
.cm-number {
	color: #fff;
}
.cm-comment.cm-attribute {
	
}
.cm-meta {
	/*color: #9d89c5;*/
	/*color: #ff9a52;*/
	color: #e49dc8;
}
.cm-comment.cm-def {
	
}
.cm-comment.cm-tag {
	
}
.cm-comment.cm-type {
	
}
.cm-property {
	/*color: #a6e22b;*/
	color: #d3ff7a;
}
.cm-attribute {
	color: #d3ff7a;
}
.cm-keyword {
	color: #93b4ff;
	font-style: italic;
}
.cm-builtin {
	color: #d3ff7a;
}
.cm-string {
	color: #ffe0a8;
}
.cm-string-2 {
	color: #ffe0a8;
}
.cm-variable {
	/*color: #a6e22b;*/
	/*color: #d3ff7a;*/
	color: #fff;
}
.cm-variable-2 {
	color: #fff;
}
.cm-variable-3 {
	color: #fff;
}
.cm-type {
	color: #93b4ff;
}
.cm-def {
	color: #fff;
}
.cm-bracket {
	/*color: #8ddaff !important;*/
	color: #fff !important;
}
.cm-tag {
	color: #f924a4;
}
.cm-header {
	color: #000;
}
.cm-link {
	color: #000;
}
.cm-error {
	color: #f00;
	font-weight: 900;
}
.cm-searching {
	color: #000;
}
.cm-matchinghighlight {
	color: #000;
}
.cm-qualifier {
	color: #f924a4;
}
.cm-special {
	color: #ac80ff;
}
.cm-operator {
	color: #f924a4;
}
.cm-highlight1 {
	color: #ff0000;
	background-color: #00ff00;
}
/* app data */
body {
	background-color: rgb(0, 0, 0);
	font-family: "system-ui";
	color: #e0e0e0;
	user-select: none;
	overflow-x: hidden;
	overflow-y: hidden;
}
.window-body {
	border-collapse: collapse;
	background-color: #484943;
}
.ui-row-menu {
	
}
.ui-row-toolbar {
	
}
.ui-row-columns {
	background-color: #383933;
}
.ui-row-footer {
	
}
.ui-row-footer > div {
	padding: 1px 1px 1px 5px;
}
.ui-row-footer > div > select {
	user-select: none;
	outline: 0;
	padding: 1px 1px 1px 1px;
	background-color: #383933;
	color: #a6a3b9;
}
.ui-column-folders {
	background-color: rgb(85, 85, 80);
	width: 175px;
	/*border-right: 1px solid rgb(150, 150, 150);*/
}
.ui-column-folders-content {

}
.ui-select-multi-item {
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-left: 2px;
	margin-right: 2px;
}
.ui-select-multi {
	background-color: rgb(225, 230, 240);
	outline: 0;
}
.top-level-most {
	z-index: 1100;
}
.top-level {
	z-index: 1000;
}
.ui-menu {
	width: auto;
	vertical-align: top;
	overflow: visible;
	user-select: none;
	/*margin: 0px;*/
	/*padding: 0px;*/
}
.ui-menu[open],
.ui-menu:hover {
	background-color: #888885;
}
.ui-menu > summary {
	outline: 0;	
	padding: 5px;
	list-style: none;
}
.ui-menu > summary::-webkit-details-marker {
	display: none;
}
details > .ui-context-menu {
	margin: -1px;
}
.ui-menu-item {
	min-width: 200px;
	padding: 3px;
	
}
.ui-menu-item:hover {
	background-color: #a8a8a5;
}
.ui-menu-item:hover:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.ui-menu-item:hover:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.ui-menu-item-separator {
	height: 2px;
	border-top: 1px solid #888983;
	border-bottom: 1px solid #888983;
}
.ui-menu-item-separator-side {
	border-left: 1px solid #888983;
}
.ui-context-menu {
	border: 1px solid #f0f0f0;
	background-color: #989993;
	/*padding: 0px;*/
	color: #0a0a0a;
	box-shadow: 0 0 0 1px #000;
	animation: fadein 0.2s;
}

.ui-bubble {
	border-radius: 4px;
}
.ui-bubble[data-bubble="1"] {
	border-top-left-radius: 0px;
}
.ui-bubble[data-bubble="2"] {
	border-top-right-radius: 0px;
}
.ui-bubble[data-bubble="3"] {
	border-bottom-left-radius: 0px;
}
.ui-bubble[data-bubble="4"] {
	border-bottom-right-radius: 0px;
}
.ui-icon-container {
	padding: 2px;
	margin: 2px -2px -2px 2px;
}
.ui-icon-empty {
	/*padding: 0px 0px 0px 0px !important;*/
	margin: -5px 5px -2px 3px !important;
}
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon-container:hover {
	background-color: rgb(200, 200, 200);
}
.ui-icon-container:active {
	background-color: rgb(130, 130, 130);
}
.ui-icon-save {
	background-image: url("../../data/icons/disk.png");
}
.ui-icon-save-all {
	background-image: url("../../data/icons/disk_multiple.png");
}
.ui-icon-new {
	background-image: url("../../data/icons/page_add.png");
}
.ui-icon-open {
	background-image: url("../../data/icons/folder.png");
}
.ui-icon-script {
	background-image: url("../../data/icons/script.png");
}
.ui-icon-page {
	background-image: url("../../data/icons/page.png");
}
.ui-icon-page-code {
	background-image: url("../../data/icons/page_code.png");
}
.ui-icon-package {
	background-image: url("../../data/icons/package.png");
}
.ui-icon-package-add {
	background-image: url("../../data/icons/package_add.png");
}
.ui-icon-bin-empty {
	background-image: url("../../data/icons/bin_empty.png");
}
.ui-icon-server-delete {
	background-image: url("../../data/icons/server_delete.png");
}
.ui-icon-folder-explore {
	background-image: url("../../data/icons/folder_explore.png");
}
.ui-icon-happy {
	background-image: url("../../data/icons/emoticon_smile.png");
}
.ui-icon-unhappy {
	background-image: url("../../data/icons/emoticon_unhappy.png");
}
.clearfix::after {
	content: "";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.inline {
	display: inline-block;
}
.block {
	display: block;
}
.ui-hide {
	visibility: none !important;
	display: none !important;
}
.ui-show {
	visibility: initial;
	/*display: initial;*/
}
.full-height {
	height: 100% !important;
}
.full-width {
	width: 100% !important;
}
.fill-height {
	top: 0px;
	bottom: 0px;
}
.fill-width {
	left: 0px;
	right: 0px;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	background: rgb(75, 75, 75);
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(100, 100, 100);
	border-radius:16px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(150, 150, 150);
}
.wrapped-all {
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
}
.resizer {
	background-color: rgb(100, 100, 100);
	border-radius: 25px;
	float: right;
	cursor: col-resize
}
.resizer-width {
	width: 5px;
}
.ui-tabs {
	background-color: #383933;
}
.tabs-container {
	width: 0px;
	min-width: 100%;
	top: 2px;
}
.tab {
	position: relative;
	/*background-color: #2f2f30;*/
	background-color: #5a5a5a;
	/*height: 1.25rem;*/
	width: auto;
	
	vertical-align: top;
	max-width: 15%;
	min-width: 10px;

	overflow: hidden;
	text-overflow: ellipsis;
	/*padding: 5px;*/
	direction: rtl;
	text-align: center;
	padding: 3px;
	margin: 1px 1px 1px 1px;
	top: 0px;
	bottom: 0px;
	border-radius: 2px 2px 0px 0px;
	/*border: 0px;*/

	font-size: medium;
	color: #999;
}
.tab:hover {
	box-shadow: 0 0 5px 1px #474842;
}
.tab:active {
	background-color: #272822;
	box-shadow: 0 0 5px 1px #373832;
}
.tab[data-active="1"] {
	background-color: #272822;
	min-width: 10%;
	color: #a6a3b9;
}
.tabs-scroller {
	/*background-color: blue;*/
	top: 4px;
}
.tabs-scroller::before {
	content: '◂';
}
.tabs-scroller[data-dir="1"]::before {
	content: '▸';
}
.tabs-scroller:hover {
	color: rgb(150, 150, 250);
}
.left {
	float: left;
}
.right {
	float: right;
}
.no-padding {
	padding: 0px;
}
.no-margin {
	margin: 0px;
}
.zero-height {
	height: 0px;
}
.border-bottom {
	border-bottom: 2px solid #909090 !important;
}
.bordered {
	border: 1px solid #909090;
}
.ui-column {
	padding: 0px;
	margin: 0px;
}
.ui-columns-tabs {
	height: 0px;
}
.ui-columns-resizer {
	background: #665b72;
	border-radius: 10px;
	height: 100%;
	width: 5px;
	min-width: 5px;
	cursor: col-resize;
	user-select: none;
	margin: 0px;
	padding: 0px;
}
.ui-columns-resizer:active {
	background: #5b726b;
}
.ui-columns-resizer:hover {
	background: #8b88b7;
}
.ui-columns-column {
	height: 100%;
}

.collapsed {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

[data-show="0"] {
	visibility: hidden !important;
}

[data-show="1"] {
	visibility: visible !important;
}

.s1 {
	
}

.nudge-left {
	padding-left: 5px;
}
.ui-menu-list-item {
	background-color: #c0c09d;

}
.ui-menu-list-item:hover {
	background-color: #b0b0ad;
}
.ui-menu-slider {
	top: 4px;
}

.popup {
	width: 10px;
	height: 10px;
	resize: both;
	background-color: rgb(100, 100, 150);
	border: 1px solid #000;
	z-index: 1000000;
}